<html>
    <head>
        <%- include("partials/imports") -%>
        <title>Bookish</title>
    </head>
    <body>
        <div id="navbar">
            <h3>Bookish</h3>
        </div>
        <div class="parallax-container">
            <div class="background">
                <img src="/images/shelf.png" id="shelf1">
                <h1 style="font-weight: 700;">Bookish</h1>
                <img src="/images/shelf.png" id="shelf2">
            </div>
            
            <div class="foreground">
                <img src="/images/shelf.png" id="shelf3">
                <img src="/images/shelf.png" id="shelf4">
            </div>
        </div>
        <section class="content">
            <input type="search" class="searchbar" style=" border-radius: 25px; border:0px; height: 2rem; width:20rem;" id="search" placeholder="Search...">
            <div class="sec">
            <!-- <div class="sec " id="infiniteScroll--left"> -->
             <% for (var i = 0; i < bookData.length; i++) { %>
                <article>
                  <div class="wrapper">
                    <div class="img">
                      <img src= "<%= bookData[i].book_image %>"></img>
                    </div>
                    <div class="book-body">
                      <h5><%= bookData[i].title %></h5>
                      <!-- <p><%= bookData[i].author %></p> -->
                      
                      <!-- <p> <%= bookData[i].description %></p> -->
                    </div>
                  </div>
                </article>
              <% } %>
              </div>

        </section>
    <script src="js/script.js"></script>
    </body>
</html>
